body{
    font-family: sans-serif;
}

.fd{
    position: absolute;
    text-align: center;
}

.home {
    text-decoration: none;
}

.home :visited{
    text-decoration: none;
}

p{
    font-style: italic;
}
li{
    display: inline-block;
    background-color: dimgray;
    list-style-type: none;
}
li :hover{
    background-color: slategrey;
}